{{ define "nav" }}
  {{ partial "nav" . }}
{{ end }}

{{ define "main" }}
  <div class="mt-24 relative max-w-xl container mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
    <div>
      <h2 class="text-3xl tracking-tight font-extrabold text-grey-darkest sm:text-4xl">
        {{.Title}}
      </h2>
      <div class="mt-6 text-xl text-gray-600 sm:mt-4 spaced-y-8 prose">
        {{.Content}}
      </div>
    </div>
    <h3 class="mt-16 text-xl font-bold text-gray-darker py-4"> {{ i18n "latest-posts" }}</h3>
    <ul class="list-cirlce">
      {{ range .Pages }}
        <li>
          <a class="mt-4 block text-lg text-black font-bold no-underline hover:underline" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}

{{ define "footer" }}
  <div class="mt-24">
    {{ partial "footer" . }}
  </div>
{{ end }}
