{{ $diff := now.Sub (time "2013-01-01") }}
<div class="mt-2 md:mt-2 max-w-xl">
  <a href="" class="ml-8 mt-8 p-4 email text-sm">mila AT milafrerichs DOT com</a>
  <h1 class="text-4xl md:text-5xl mt-16 max-w-screen-md font-bold leading-normal" >{{i18n "headline" .}}</h1>
  <h2 class="text-lg md:text-xl mt-8 md:mt-12 font-semibold">{{i18n "headMeSubhead" .}}</h2>
  <h3 class="text-base md:text-md font-light mt-8 leading-7 bg-gradient-to-br from-gray-200 bg-opacity-80 rounded-lg pr-2 p-2 -ml-2">{{i18n "tagline" (math.Round (div $diff.Hours 8760))}}</h3>
</div>
