<div class="w-full lg:col-span-5 py-4 sm:py-6 lg:py-24">
  <div class="max-w-2xl text-xl text-gray-900">
      <h1 class="inline sm:block font-bold tracking-tight sm:text-4xl">Wöchentliche E-Mails zu Offenen Daten und Open Government</h1>
      <h2 class="text-xl py-4 md:py-12 font-medium tracking-normal">Zu Themen wie zum Beispiel Datenstrategien, Transparenz, Tools, Prozesse, Datenportale, 5 Sterne Open Data, Automatisierung, Metadaten und vieles mehr. </h2>
      <p class="">Über 30 hauptsächlich Kommunale Open Data Enthusiasten haben sich schon angemeldet.</p>
  </div>
{{ partial "newsletter-form.html" . }}
